<launch>
    
    <param command="$(find xacro)/xacro $(find apbot_description)/urdf/apbot.xacro" name="robot_description"/>
    <arg name="world_name" default="$(find artpark2021_world)/worlds/self_designed.world" />
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="headless" value="false"/>
      <arg name="debug" value="false"/>
      <arg name="world_name" value="$(arg world_name)" />
    </include>
    
  </launch>